{% load menu_tags %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Introspection</a>
            <ul class="nav">
                <li li="version-3.2" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        {% if framework_name %}{{ framework_name }} {% else %}Frameworks {% endif %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% get_frameworks as frameworks %}
                        {% for framework in frameworks %}
                        <li>
                            <a href="{% url 'framework' framework %}">
                                {{ framework }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% if framework_name %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Modules <b class="caret"></b>
                    </a>
                    {% get_framework framework_name as framework %}
                    <ul class="dropdown-menu">
                        {% for module in framework %}
                        <li>
                            <a href="{% url 'framework' framework_name %}#{{ module|cut:' ' }}">{{ module }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% if parents %}
                {% get_module parents.0.name as module %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        {{ module.name }}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% for class in module.classes %}
                        <li>
                            <a href="{% url 'class' class %}">{{ class }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>